@model SahinRektefiyeSoln.Models.RevisionType

@{
	ViewBag.Title = "Revizyon Tipi Tanım Sayfası";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Revizyon Tipi Tanım Sayfası", pagePermission = "SUPMN_01" })


<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="w3-row">
				<div class="w3-third w3-padding">
					<label>Revizyon Tipi Tanım Açıklaması</label>
					@Html.EditorFor(model => model.RevisionDesc , new { htmlAttributes = new { @class = "w3-input w3-border w3-round", maxlength = "50", autocomplete = "off" } })
				</div>
			</div>
			<hr>
			<div class="w3-row">
				<div class="w3-quarter w3-left">
					<a href="/SupplierCompany/RevisionTypes" class="w3-btn w3-ripple w3-blue"><i class="fa fa-arrow-left"></i>&nbsp;Geri </a>
				</div>
				<div class="w3-quarter">&nbsp;</div>
				<div class="w3-quarter w3-padding">

				</div>
				<div class="w3-quarter  w3-padding">
					<button class="w3-btn w3-ripple w3-green w3-right">Ekle</button>
				</div>
			</div>
		}
	</div>
</div>


