
@{
    ViewBag.Title = "Yetki Yok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w3-container"><h4>Yetersiz Yetki</h4>
    <div class="w3-panel w3-yellow w3-card w3-round">
        <p>Bu sayfayı görmeye yetkiniz bulunmamaktadır.</p>
    </div>
</div>

