@{
	Layout = null;
}


@if (ViewBag.isRevmerUser == true)
{
	@*using (Html.BeginForm("HizliArama", "Home", FormMethod.Post))
	{
		<button type="submit" class="w3-bar-item w3-button w3-green w3-right">Ara</button>
		<input type="text" class="w3-bar-item w3-input w3-right" placeholder="Plaka veya İş Emri No.." name="txtplakaOrSase">
	}*@
}