<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen
  https://go.microsoft.com/fwlink/?LinkId=301880 adresini ziyaret edin
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DevelopmentMode" value="1" />
    <add key="FiatServiceId" value="1008" />
    <add key="FordServiceId" value="1" />
    <add key="LocalDomainName" value="localhost:54763" />
    <add key="LogPath" value="D:\Devops\Revmer\RevmerSoln\SahinRektefiyeSoln\Logs\Log.txt" />
    <!--JET SMS deneme22 -->
    <add key="PROXY_SET" value="0" />
    <add key="PROXY_HOST" value="" />
    <add key="PROXY_PORT" value="8080" />
    <add key="DOMAIN" value="development" />
    <add key="PROXY_USER_NAME" value="rev" />
    <add key="PROXY_PASSWORD" value="8741-Krz" />
    <add key="XML_SENT_SERVLET" value="https://api.jetsms.com.tr/SMS-Web/xmlsms" />
    <add key="XML_REPORT_SERVLET" value="https://api.jetsms.com.tr/SMS-Web/xmlreport" />
    <add key="XML_DATE_REPORT_SERVLET" value="https://api.jetsms.com.tr/SMS-Web/xmldatereport" />
    <add key="REPORT_TIME_OUT" value="30" />
    <!--JET SMS -->
    <!--Logo Configuration-->
    <add key="UseLogo" value="0" />
    <add key="UnitAdetId" value="5" />
    <add key="UnitSaatId" value="6" />
    <add key="UnitKgId" value="8" />
    <add key="UOMYagRefId" value="25" />
    <add key="UOMAdetId" value="26" />
    <add key="UOMSaatId" value="24" />
    <!--Service Configuration-->
    <add key="IsEmriAcikStatu" value="1" />
    <add key="IsEmriTamamlandiStatu" value="2" />
    <add key="IsEmriIptalStatu" value="3" />
    <add key="IsEmriFaturaBekleniyor" value="4" />
    <add key="IadeOnayBekleniyor" value="5" />
    <add key="IptalOnayBekleniyor" value="6" />
    <add key="Iade" value="7" />
    <add key="IsEmriBedelsizOnayBekliyor" value="8" />
    <!-- Ford Service Stok Id -->
    <add key="alternatorStokDahilEtme" value="5;6" />
    <add key="direksiyonStokDahilEtme" value="5" />
    <add key="egrStokDahilEtme" value="3" />
    <add key="turboStokDahilEtme" value="2007;2008" />
    <add key="dpfStokDahilEtme" value="2" />
    <add key="klimaStokDahilEtme" value="2" />
    <add key="marsMotorStokDahilEtme" value="2;1005" />
    <add key="sanzimanStokDahilEtme" value="2" />
    <add key="sensorStokDahilEtme" value="2" />
    <add key="AlternatorTekTipId" value="10" />
    <add key="DireksiyonTekTipId" value="8" />
    <add key="EgrTekTipId" value="3" />
    <add key="TurboTekTipId" value="25" />
    <add key="DpfTekTipId" value="2" />
    <add key="KlimaTekTipId" value="7" />
    <add key="MarsMotorTekTipId" value="11" />
    <add key="FiatSiparisRevmerRedStatuId" value="1005" />
    <add key="TeklifAcikStatu" value="1" />
    <add key="TeklifeDonusturuldu" value="2" />
    <add key="TeklifIptalStatu" value="3" />
    <add key="ServiceKlimaIsEmriTipId" value="7" />
    <add key="ServiceEgrIsEmriTipId" value="8" />
    <add key="ServiceSanzimanIsEmriTipId" value="9" />
    <add key="ServiceTurboIsEmriTipId" value="10" />
    <add key="ServiceAlternatorIsEmriTipId" value="11" />
    <add key="ServiceMarsMotorIsEmriTipId" value="12" />
    <add key="ServiceDireksiyonPompasiIsEmriTipId" value="13" />
    <add key="ServiceDireksiyonKutusuMekanikIsEmriTipId" value="14" />
    <add key="ServiceDireksiyonKutusuHidrolikIsEmriTipId" value="15" />
    <add key="ServiceDpfIsEmriTipId" value="16" />
    <add key="ServiceBankoSatisIsEmriTipId" value="17" />
    <add key="IsEmriExcelBasePath" value="IsEmriExcelleri" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <sessionState mode="InProc" timeout="300" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N2FKS7Q;initial catalog=RevmarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SahinRektefiyeDbEntities1" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=RevmarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=RevmarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--TEST-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql04.turhost.com;initial catalog=TestRevmer;User Id=;Password=;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- BILGISAYAR-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=TestProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=RevmarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogoEntities" connectionString="metadata=res://*/Models.LogoModel.csdl|res://*/Models.LogoModel.ssdl|res://*/Models.LogoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=GO_TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- BILGISAYAR-->
    <!-- BILGISAYAR-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=TestProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.RevmarModel.csdl|res://*/Models.RevmarModel.ssdl|res://*/Models.RevmarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1B4SF6L;initial catalog=RevmarDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogoEntities" connectionString="metadata=res://*/Models.LogoModel.csdl|res://*/Models.LogoModel.ssdl|res://*/Models.LogoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1B4SF6L;initial catalog=GO_TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--MERT BILGISAYAR-->
    <!--<add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.SahinRektefiyeModel.csdl|res://*/Models.SahinRektefiyeModel.ssdl|res://*/Models.SahinRektefiyeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=SahinRektefiyeDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LogoEntities" connectionString="metadata=res://*/Models.LogoModel.csdl|res://*/Models.LogoModel.ssdl|res://*/Models.LogoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-n2fks7q;initial catalog=GO_TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SahinRektefiyeDbEntities" connectionString="metadata=res://*/Models.SahinRektefiyeModel.csdl|res://*/Models.SahinRektefiyeModel.ssdl|res://*/Models.SahinRektefiyeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sahinr.database.windows.net;initial catalog=SahinRektefiyeDb;persist security info=True;user id=muratsolu;password=Atakent83;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMSServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SMSServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.jetsms.net/soap/soapsms.asmx" binding="basicHttpBinding" bindingConfiguration="SMSServiceSoap" contract="JetSms.SMSServiceSoap" name="SMSServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>