@model IEnumerable<SahinRektefiyeSoln.Models.Users>
@{
	ViewBag.Title = "KullaniciYetkileri";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("SetPageHeader", "Admin", new { pageTitle = "Kullanıcı Yetkileri", pagePermission = "XXXXX" })
@using Vereyon.Web;
<link href="~/Styles/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {

		jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            'locale-compare-asc': function (a, b) {
                return a.localeCompare(b, 'cs', { sensitivity: 'case' })
            },
            'locale-compare-desc': function (a, b) {
                return b.localeCompare(a, 'cs', { sensitivity: 'case' })
            }
        })

        jQuery.fn.dataTable.ext.type.search['locale-compare'] = function (data) {
            return NeutralizeAccent(data);
        }

        function NeutralizeAccent(data) {
            return !data
                ? ''
                : typeof data === 'string'
                    ? data
                        .replace(/\n/g, ' ')
                        .replace(/[éÉěĚèêëÈÊË]/g, 'e')
                        .replace(/[šŠ]/g, 's')
                        .replace(/[čČ]/g, 'c')
                        .replace(/[řŘ]/g, 'r')
                        .replace(/[žŽ]/g, 'z')
                        .replace(/[ýÝ]/g, 'y')
                        .replace(/[áÁâàÂÀ]/g, 'a')
                        .replace(/[íÍîïÎİÏ]/g, 'i')
                        .replace(/[ťŤ]/g, 't')
                        .replace(/[ďĎ]/g, 'd')
                        .replace(/[ňŇ]/g, 'n')
                        .replace(/[óÓ]/g, 'o')
                        .replace(/[úÚůŮ]/g, 'u')
                    : data
        }
		
		$('#tableUsers').DataTable({
			"processing": true,
			"filter": true,
			"language": {
				"sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
				"oPaginate": { "sFirst": "İlk", "sLast": "Son", "sNext": "İleri", "sPrevious": "Geri" },
				"select": { "rows": { "_": "%d kayıt seçildi", "0": "", "1": "1 kayıt seçildi" } },
				"sSearch": "",
				"selectAll": "Tümünü Seç",
				"sSearchPlaceholder": "Filtrele",
				"sLengthMenu": "_MENU_",
				"sLoadingRecords": "Yükleniyor...",
				"sProcessing": "İşleniyor...",
				"sZeroRecords": "Eşleşen kayıt bulunamadı...",
				"sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar.",
				"sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
				"sInfoEmpty": "Kayıt Yok",
				"sInfoPostFix": "",
				"sInfoThousands": ".",
				"sDecimal": ","

			},
			dom: 'Bfrtip',
			buttons: [
				'excelHtml5',
				'pdfHtml5'
			],
			order: [[0, "desc"]],
            columnDefs : [
							 { targets: 0, type: 'locale-compare' },
						  ]
        });
		$("input[type='search']").keyup(function () {
            table.search(
                jQuery.fn.dataTable.ext.type.search.string(NeutralizeAccent(this.value))
            )
                .draw()

        });

		var btns = $('.dt-buttons')[0];

		btns.firstElementChild.className = "w3-btn w3-blue w3-round";
		btns.firstElementChild.textContent = "Excel'e Aktar";

		btns.firstElementChild.nextElementSibling.className = "w3-btn w3-blue w3-round";
		btns.firstElementChild.nextElementSibling.textContent = "Pdf'e Aktar";


	});

</script>

<div class="w3-panel">
	<div class="w3-row-padding w3-card">
		<div class="w3-panel w3-yellow w3-round-large w3-padding">
			Yetkisini düzenlemek istediğiniz kullanıcıyı seçiniz !
		</div>
		<div class="w3-padding">
			<div class="w3-half">
				<table class="w3-table-all w3-hoverable w3-margin-top w3-margin-bottom w3-small" id="tableUsers">
					<thead>
						<tr>
							<th></th>
							<th>Kullanıcı</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var kullanici in Model)
			{
				<tr>
					<td>

						<a href="/Service/KullaniciIsEmriTipPermGuncelle?UserName=@kullanici.UserName" class="w3-btn w3-blue w3-round" title="Kullanıcı Yetkilerini Görüntülemek ve Düzenlemek için tıklayın."><i class="fa fa-pencil-square-o w3-hover-opacity" aria-hidden="true"></i> Yetkisini Düzenle</a>
					</td>
					<td>@kullanici.UserName</td>
				</tr>
}
					</tbody>

				</table>

			</div>

		</div>
	</div>
</div>
